.table_note
{
    width: 480px;
    height: 474px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 256px;
    margin-right: 256px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}