@media all
{
    *{font-family :serif  ;}
    h1,h2{text-align : center ; }
    h1{font-size : 150% ; }
    h2{font-size : 120% ; }
    p {text-align : justify; }
}
@media print {


    @page { size: portrait;
        margin: 0.5cm;
        page-break-inside: avoid;
        page-break-before: always;
        page-break-after: always;
    }

    @media screen
    {
        *{font-size : 18px ; color : navy ; background : aqua ; margin : 0px ; padding : 0px ; }
        body{width : 900px ; margin : 20px auto 20px auto ; }
        h1 {margin : 20px auto 20px auto ; }
        h2 {margin : 10px auto 10px auto ; }
        img {width : 300px ; float : left ; margin : 10px ; }
        a {display : block ; margin : 10px 0px 10px 0px ; }
    }


}

